# Python Pandas Breakouts

### 1. Import the necessary packages in the code block below
    - pandas 
    - numpy

In [ ]:
# your code goes here 
import numpy as np
import pandas as pd

### 2. Working with Series

In [21]:
#- use the pandas Series class to convert these lists into pandas series objects (Pandas.Series)
import pandas as pd

state = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida']
population = [4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792]
evreg = [4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640]


# your code goes here 
state_series = pd.Series(state)
pop_series = pd.Series(population)
evreg_series = pd.Series(evreg)

In [22]:
# using the index value print out California from the state Series, print the corresponding index from population series, and finally  print the corresponding index from the ev reg series
california = state_series[4]
# your code goes here
print(state_series[4])
print(pop_series[4])
print(evreg_series[4])

California
38066920
563070

### How to Combine Two Series into a Pandas DataFrame
- Can combine/merge two or more series by using:
    - `.concat()`: Combines 2+ series
    - `Pandas.merge()`: Combines combinations of dataframes, similar to SQL joins
    - `dataFrame.join()`: Joins two series

In [23]:
#1 Create 3 pandas series' as you have done above with the following lists 

state = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida']
population = [4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792]
evreg = [4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640]

# your code goes here 
state_series = pd.Series(state)
pop_series = pd.Series(population)
evreg_series = pd.Series(evreg)

In [32]:
#Combine 2 series using .concat() and store this in a variable called `two_series`
#print `two_series`

#your code goes here
two_series = pd.concat([state_series, pop_series], axis = 1)
print(two_series)

                      0         1
0               Alabama   4817678
1                Alaska    728300
2               Arizona   6561516
3              Arkansas   2947036
4            California  38066920
5              Colorado   5197580
6           Connecticut   3592053
7              Delaware    917060
8  District of Columbia    633736
9               Florida  19361792

In [38]:
#combine all three series using .concat()
# print the result 

#your code goes here
three_series = pd.concat([state_series, pop_series, evreg_series], axis = 1)
print(three_series)

                      0         1       2
0               Alabama   4817678    4750
1                Alaska    728300    1290
2               Arizona   6561516   40740
3              Arkansas   2947036    2390
4            California  38066920  563070
5              Colorado   5197580   37000
6           Connecticut   3592053   13350
7              Delaware    917060    3010
8  District of Columbia    633736    3700
9               Florida  19361792   95640

In [47]:
# re-create the Series objects form above but with column names refer to 5.2 curriculum or pandas.Series documentation for help 
# join all three series using .concat()
 
state = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida']
population = [4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792]
evreg = [4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640]


#your code goes here
series_states = pd.Series(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida'], name= 'States') 
series_pop = pd.Series([4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792], name= 'Population')
series_evreg = pd.Series([4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640], name= 'Evreg')
dataframe = pd.concat([series_states, series_pop, series_evreg], axis= 1)

print(dataframe)

                 States  Population   Evreg
0               Alabama     4817678    4750
1                Alaska      728300    1290
2               Arizona     6561516   40740
3              Arkansas     2947036    2390
4            California    38066920  563070
5              Colorado     5197580   37000
6           Connecticut     3592053   13350
7              Delaware      917060    3010
8  District of Columbia      633736    3700
9               Florida    19361792   95640

In [200]:
#run this code block but do not change this code
index_list = []

for i in range(1,len(series_states)):
    index_list.append('r'+str(i))
print(index_list)

['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9']

In [4]:
# use the index list created above to change the index on the three Series objects you have created. 
# use the curriculum or pandas documentation for assisstance
import pandas as pd
index_list = []

for i in range(1,11):
    index_list.append('r'+str(i))
# your code goes here  
series_states = pd.Series(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida'],index = index_list, name= 'States') 
series_pop = pd.Series([4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792], index = index_list, name= 'Population')
series_evreg = pd.Series([4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640], index = index_list, name= 'Evreg')
dataframe = pd.concat([series_states, series_pop, series_evreg], axis= 1)
print(dataframe)

                   States  Population   Evreg
r1                Alabama     4817678    4750
r2                 Alaska      728300    1290
r3                Arizona     6561516   40740
r4               Arkansas     2947036    2390
r5             California    38066920  563070
r6               Colorado     5197580   37000
r7            Connecticut     3592053   13350
r8               Delaware      917060    3010
r9   District of Columbia      633736    3700
r10               Florida    19361792   95640

In [7]:
# insert the 3 pandas Series objects into a dictionary with the column name being the key and the Series object being the value 
# use .concat() to covert the three series objects to a dataframe 
# there is some helper skeleton code to aid you while inserting the Series into the dictionary
dict = {}
series_states = pd.Series(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida'],index = index_list, name= 'States') 
series_pop = pd.Series([4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792], index = index_list, name= 'Population')
series_evreg = pd.Series([4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640], index = index_list, name= 'Evreg')
 
# your code goes here

dict['States'] = series_states
dict['Population'] = series_pop
dict['Evreg'] = series_evreg
new_df = pd.concat((dict), axis = 1)
#print(dict)
new_df = new_df.reset_index(drop=True)
print(new_df)

                 States  Population   Evreg
0               Alabama     4817678    4750
1                Alaska      728300    1290
2               Arizona     6561516   40740
3              Arkansas     2947036    2390
4            California    38066920  563070
5              Colorado     5197580   37000
6           Connecticut     3592053   13350
7              Delaware      917060    3010
8  District of Columbia      633736    3700
9               Florida    19361792   95640

In [11]:
# use df method .reset_index() to drop the current index 
# use curriculum or documentation for assistance
dict = {}

series_states = pd.Series(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida'],index = index_list, name= 'States') 
series_pop = pd.Series([4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792], index = index_list, name= 'Population')
series_evreg = pd.Series([4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640], index = index_list, name= 'Evreg')
 
# your code goes here

dict['States'] = series_states
dict['Population'] = series_pop
dict['Evreg'] = series_evreg
new_df = pd.concat((dict), axis = 1)
# your code goes here
new_df = new_df.reset_index(drop=True)
print(new_df)

                 States  Population   Evreg
0               Alabama     4817678    4750
1                Alaska      728300    1290
2               Arizona     6561516   40740
3              Arkansas     2947036    2390
4            California    38066920  563070
5              Colorado     5197580   37000
6           Connecticut     3592053   13350
7              Delaware      917060    3010
8  District of Columbia      633736    3700
9               Florida    19361792   95640

# 3. Working with pandas.merge()

#### Combine Two Series using `pandas.merge()`
- `.merge()` - Merges complex dataframes, through columns, similar to SQL-like joins 
    - Can be used for joining dataframes and/or series 
    - Must pass the extra parameter "name" to the series
    - **Syntax Example**: `pd.merge(S1, S2, right_index=True, left_index=True)`.

In [35]:
# given the two lists, convert them to Series objects, give them column names using the name parameter
# then use pd.merge() to join the two lists
import pandas as pd

states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida']
evregs = [4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640]

#your code goes here
states_s = pd.Series(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida'], name= 'States')
evregs_s = pd.Series([4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640], name = 'Evregs')
merged = pd.merge(states_s,evregs_s, right_index= True, 
                  left_index=True)
print(merged)

                 States  Evregs
0               Alabama    4750
1                Alaska    1290
2               Arizona   40740
3              Arkansas    2390
4            California  563070
5              Colorado   37000
6           Connecticut   13350
7              Delaware    3010
8  District of Columbia    3700
9               Florida   95640

#### 4.) Combine Two Series Using `DataFrame.join()`
- `DataFrame.join()` - Joins 2 Series
- In order to use, MUST have a DataFrame object

In [42]:
# given the two lists
# convert the lists to series objects
# use DataFrame.join() to join the two series objects
import pandas as pd

state = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida']
population = [4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792]

#df = pd.DataFrame(var1).join(var2)
states = pd.Series(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida'], name= "State")
pop = pd.Series([4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792], name= 'Population')
#your code goes here
state_pop_df = pd.DataFrame(states).join(pop)
print(state_pop_df)

                  State  Population
0               Alabama     4817678
1                Alaska      728300
2               Arizona     6561516
3              Arkansas     2947036
4            California    38066920
5              Colorado     5197580
6           Connecticut     3592053
7              Delaware      917060
8  District of Columbia      633736
9               Florida    19361792

# Working with DataFrames

 1. inserting data into dataframes and locating specific rows of data within our dataframes

In [47]:
# use the follow dictionary for the upcoming questions
import pandas as pd

dict = {
'state': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida'],
'population' : [4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792],
'evreg' :[4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640]
}
data = pd.DataFrame(dict)
print(data)

                  state  population   evreg
0               Alabama     4817678    4750
1                Alaska      728300    1290
2               Arizona     6561516   40740
3              Arkansas     2947036    2390
4            California    38066920  563070
5              Colorado     5197580   37000
6           Connecticut     3592053   13350
7              Delaware      917060    3010
8  District of Columbia      633736    3700
9               Florida    19361792   95640

In [48]:
# convert the dictionary to a dataframe 

import pandas as pd

dict = {
'state': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida'],
'population' : [4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792],
'evreg' :[4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640]
}
data = pd.DataFrame(dict)
print(data)

In [139]:
# find the location of specific rows in the dataframe from the above code block using the index position (HINT:refer to previous cell output for index position)
# print out arkansas using .loc and the index position 
# print both Delaware and California using .loc and their index position. 
import pandas as pd

index_labels = []

for i in range(0,10):
    index_labels.append('r' + str(i+1))

dict = {
'state': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida'],
'population' : [4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792],
'evreg' :[4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640]
}
data = pd.DataFrame(dict)

# your code goes here
print(data['state'])
print(data.loc[1])
print(data.loc[[1, 2]])

0                 Alabama
1                  Alaska
2                 Arizona
3                Arkansas
4              California
5                Colorado
6             Connecticut
7                Delaware
8    District of Columbia
9                 Florida
Name: state, dtype: object
state         Alaska
population    728300
evreg           1290
Name: 1, dtype: object
     state  population  evreg
1   Alaska      728300   1290
2  Arizona     6561516  40740

In [140]:
# run the following code without making changes
index_labels = []

for i in range(0,11):
    index_labels.append('r' + str(i+1))

In [141]:
# use the index_labels list created in the cell above to make a new df using dict but make sure to set index to our new list of indexs
# print out new dataframe

# your code goes here

In [142]:
# locate  and print out florida using the new index of r10 and .loc

# your code goes here

2. inserting data from nested list and  changing the order of the data frame

In [143]:
# create a new dataframe with state_info nested list and the list of columns

state_info = [
['Florida', 19361792, 71.8, 2, 95640], 
['Georgia', 9907756, 62.3, 8, 34020], 
['Hawaii', 1392704, 72.95, 1, 14220], 
['Idaho', 1599464, 46.32, 40, 3500], 
['Illinois', 12868747, 51.37, 27, 36520],
['Indiana', 6542411, 51.81, 26, 10360], 
['Iowa', 3078116, 48.14, 38, 3660], 
['Kansas', 2882946, np.NaN, 20, 4500], 
['Kentucky', 4383272, 55.62, 16, 4220], 
['Louisiana', 4601049, 66.74, 3, 3180], 
['Maine', 1328535, 43.09, 48, 3040]
]

columns = ['State', 'Population', 'Avg_TEMP_F', 'Rank', 'EV_Registrations']



# your code goes here

NameError: name 'np' is not defined

In [ ]:
# use sort values to sort the data frame by State 

# your code goes here

In [ ]:
# use sort values to sort the data by population in descending order

# your code goes here